body {
  background-image: url('../images/bg.png');
}

a,
a:hover {
  color: #303032;
}

.icon-bar {
  background-color: #000;
}

#myLogo {
  background-image: url(../images/logo-new-construction.png);
  width: 220px;
  height: 75px;
  margin: 10px;
}

#mySlogan {
  float: left;
  font-family: proxima-nova-sc-osf, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 18px;
  font-style: italic;
  width: 380px;
}

header.navbar {
  margin-top: 10px;
  margin-bottom: 10px;
}

#myHeader {
  background-image: url(../images/bgTop.png);
}

.nav>li>a:hover,
.nav>li>a:focus {
  background-image: url(../images/menuBg.png);
}

#myMainNav li:hover,
#myMainNav li.active {
  height: 95px;
  border-top: 1px solid #303032;
  border-bottom: 5px solid #303032;
  background-image: url(../images/menuBgActive.png);
}

#myMainNav li > a,
#myMainNav li:hover > a,
#myMainNav li.active > a {
  height: 89px;
  color: #303032;
  font-weight: bold;
  font-size: 14px;
  padding-top: 50px;
}

#carousel-example-generic,
#carousel-example-generic .item {
  height: 400px;
}

#my3Blocks .row {
  background-color: #fff;
}

#my3Blocks .row > div {
  padding-top: 15px;
}

#my3Blocks h3 {
  font-family: serif;
  border-bottom: 1px solid #303032;
}

.my3BlocksText {
  text-align: justify;
}

#myContent {
  padding-top: 10px;
}

#myContent .row {
  background-color: #fff;
}

#myContent h1 {
  margin-top: 0;
}

.rightBlock {
  padding-bottom: 40px;
}

.rightBlock h3 {
  border-bottom: 1px solid #303032;
}

#myFooterLinks {
  padding-top: 10px;
  color: #fff;
}

#myFooterLinks a {
  color: #fff;
}

#myFooterLinks .row {
  background-color: #303032;
}

#myFooterLinks h4 {
  padding-top: 10px;
}
